<nav>
    <div class="nav-wrapper light-blue">
        <a href="/" class="brand-logo">Mixr</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/projects">My Projects</a></li>
            <li><a href="/api/users/logout" type="click">logout</a></li>
        </ul>
    </div>
</nav>

<section>
    <div class="row">
        <h2 class="white-text center">My Songs</h2>
    </div>
</section>

<section id="projectTest">
    <!--dynamically created songs-->
    {{#each project.songs}}
    <div class="row">
        <div class="card">
            <div class="col s12 m6 l4">
                <div class="card grey lighten-3">
                    <div class="card-content black-text">
                        <span class="card-title title">{{this.title}}</span>
                        <p>{{this.description}} </p>
                        <audio class="audio" controls>
                            <source src={{this.song_url}} type="audio/ogg">
                        </audio>
                    </div>
                    <div class="card-action right-align">
                        <a class="delete-song" id="song-{{this.id}}">delete</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

        <div class="add-btn">
            <a class="btn-floating btn-large waves-effect waves-light red add-btn"
                href="/projects/{{ project.id }}/new-song">
                <i class="material-icons">add</i>
            </a>
        </div>
</section>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="/javascript/songs.js"></script>