<!-- <h1>{{ title }} </h1> -->


<nav>
    <div class="nav-wrapper light-blue">
        <a href="/" class="brand-logo">Mixr</a>
        <ul class="right hide-on-med-and-down">
            <li>Logout</li>
            <li><a href="/projects">My Projects</a></li>
        </ul>
    </div>
</nav>

<section>
    <div class="row">
        <h2 class="white-text center">My Songs</h2>
    </div>

</section>

<!--hardcoded song-->

<section id="projectTest">
     <div class="col s1 m1 l1 valign-wrapper btn-wrapper">
                <div class="card grey lighten-3">
                    <a class="btn-floating btn-large waves-effect waves-light red add-btn" id="add-song"><i
                class="material-icons">add</i></a>
                </div>
            </div>
        </div>
    {{#each songs}}
    <div class="row">
        <div class="card">
            <div class="col s12 m6 l3">
                <div class="card grey lighten-3">
                    <div class="card-content black-text">
                        <span class="card-title">{{this.title}}</span>
                        <p>{{this.description}} </p>
                        <p><a href="{{this.song_url}}">listen</a></p>
                        <p>{{this.song_url}}</p>
                    </div>

                    <div class="card-action right-align">
                        <a data-target="modal-detail" class="modal-trigger">Details</a>
                    </div>
<!--modal-->
                    <div id="modal-detail" class="modal modal-detail">
                        <div class="modal-content">
                            <div class="row">
                                <h5>{{{song-title}}}</h5>
                            </div>

                            <div class="row">
                                <div class="col s12 m4 l3">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="./assets/images/stock-head.jpg">

                                        </div>
                                        <div class="card-content">
                                            <span class="card-title black-text">{{name}}</span>
                                            <p>{{instrument}}</p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <h5>{{{song-desciption}}}</h5>
                            </div>
                            <div class="row">
                                <h5>{{{comments}}}</h5>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        
    </div>
    
</section>



<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="/javascript/songs.js"></script>